<configuration>
  <appSettings>
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="main.app" />
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS"
         value="D:\home\site\wwwroot\env\Scripts\python.exe" />
    <add key="pythonpath" value="%SystemDrive%\home\site\wwwroot" />
<system.webServer>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
	<rule name="Index Request" enabled="true" stopProcessing="true">
        <match url="/" />
        <action type="Redirect" url="/compare" logRewrittenUrl="true" />
        </rule>
        </rules>
    </rewrite>
</system.webServer>
    <add key="WSGI_HANDLER" value="virtualenv_proxy.get_venv_handler()" />
  </appSettings>
</configuration>
