<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<style>
   body {
    background-image: url('https://www.sciencenews.org/sites/default/files/2016/09/main/articles/090816_ls_brain-training_free.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
   }
   .margin{
        margin: 20%;
   }
   .margin_bottom{
        margin-bottom: 3%;
   }
   form{
        background-color:rgba(255, 255, 255, 0.7);
        border-style: outset;
        border-width: 5px;
   }
  </style>

</head>
<body >
    <h1 class="page-header text-center">FACE FOUNDER</h1>

    <form class="col-md-4 col-md-offset-4" id="upload-form" method="POST" action="" enctype="multipart/form-data">
    <div class="form-group margin">
        <p class="text-md-left row margin_bottom">Please choose one image:</p>

        <div class="row margin_bottom">
            <input class="btn btn-default" id="file-picker" type="file" name="file" accept="image/*">
        </div>
        <div id="msg" class="row font-italic text-sm-left margin_bottom">
            
        </div>
        <div class="row margin_bottom">
            <input class="btn btn-default" type="submit"  value="Upload" id="upload-button">
        </div>
    </div>
    </form>
</body>
<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');

            var ext= input.files[0].name.substring(input.files[0].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("File is supported")
            }
            else
            {
                $("#msg").text("File is NOT supported")
                document.getElementById("file-picker").value ="";
            }
    } );
</script>
</html>
